<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Topic - StudySphere</title>
</head>

<body>

    <h1>Edit Topic ✏️</h1>

    <h2>{{ topic.subject.subject_name }}</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Topic Name:</label><br>
        <input type="text" name="topic_name" value="{{ topic.topic_name }}" required>
        <br><br>

        <label>Chapter / Unit:</label><br>
        <input type="text" name="chapter" value="{{ topic.chapter }}">
        <br><br>

        <label>Description:</label><br>
        <textarea name="description">{{ topic.description }}</textarea>
        <br><br>

        <label>Priority:</label><br>
        <select name="priority">
            <option value="Low" {% if topic.priority == "Low" %}selected{% endif %}>Low</option>
            <option value="Medium" {% if topic.priority == "Medium" %}selected{% endif %}>Medium</option>
            <option value="High" {% if topic.priority == "High" %}selected{% endif %}>High</option>
        </select>
        <br><br>

        <button type="submit">Save Changes</button>
    </form>

    <br>

    <a href="{% url 'topics' topic.subject.id %}">← Back to Topics</a>

</body>
</html>